.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
    min-height: 0px !important;
}

.wrapper {
    position: inherit !important;
}
.skin-blue .main-header .navbar {
    background-color: #bf3232;
}

.skin-blue .main-header .logo {
    background-color: #bf3232;
}

.skin-blue .main-header .navbar:hover {
    background-color: #b12c2c;
}
.skin-blue .main-header .logo:hover {
    background-color: #b12c2c;
}
.sidebar-toggle:hover{
    background-color: #b12c2c !important;
}
.sidebar-toggle{
    background-color: #bf3232 !important;
}

#inv_tabela_filter, #inv_tabela_paginate {
    float: right;
}
.content {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.btn-inv-criar {
    padding: 5px;
    margin: 0;
}
.pagination {
   float: right !important;
}
#inv_tbl_cli_filter, #inv_tbl_arq_filter, #inv_tbl_projetos_filter label{
    float: right;
    margin-right: 1px;
} 
#inv_descricao {
    width: 100%;
}
#inv_select{
    margin: 0px;
    padding-left: 0px;
}
#inv_salvar_proj {
    float: right;
}
#inv_salvar {
    margin-top: 15px;
}
#inv_form_6 {
    
    padding-left: 0px;
    
}

#inv_form_12 {
    padding: 0px;
}