.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
    min-height: 0px !important;
}

.wrapper {
    position: inherit !important;
}
.skin-blue .main-header .navbar {
    background-color: #bf3232;
}

.skin-blue .main-header .logo {
    background-color: #bf3232;
}

.skin-blue .main-header .navbar:hover {
    background-color: #b12c2c;
}
.skin-blue .main-header .logo:hover {
    background-color: #b12c2c;
}
.sidebar-toggle:hover{
    background-color: #b12c2c !important;
}
.sidebar-toggle{
    background-color: #bf3232 !important;
}

#inv_tabela_filter, #inv_tabela_paginate {
    float: right;
}
